<div class="card mx-auto mt-5">
    <div class="card-header p-3">
        <h3 class="my-auto">Invite user</h3>
        <button class="btn btn-secondary mt-2">Invited user list</button>
    </div>
    <div class="card-body">
        <form [formGroup]="inviteUserForm">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email">
                <span class="err-msg">
                    <span *ngIf="!valid && Email.hasError('required')">* Email is required</span>
                    <span *ngIf="!valid && inviteUserForm.hasError('notmatched') && !Email.hasError('required')">* Invalid email address</span>
                </span>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-select" id="role" aria-label="Default select example" formControlName="role">
                    <option selected disabled [value]="null">Select roles</option>
                    <option *ngFor="let role of roles" [value]="role.id">{{role.name.charAt(0) + role.name.slice(1).toLowerCase()}}</option>
                </select>
                <span class="err-msg">
                    <span *ngIf="!valid && Role.hasError('required')">* Role is required</span>
                </span>
            </div>
            <div class="form-group mt-2">
                <label for="message">Message</label>
                <textarea id="message" cols="30" rows="5" style="resize: none;"
                    placeholder="Send message" class="w-100 form-control" formControlName="message">
                </textarea>
            </div>
            <button class="btn btn-danger mt-2" (click)="resetForm()">Reset</button>
            <button class="btn btn-primary mt-2 mx-2" (click)="onSubmit()">Invite</button>
        </form>
    </div>
</div>